@tailwind base;
@tailwind components;
@tailwind utilities;

/* color pallete: https://coolors.co/524f63-fe5b66-f4f4f5-d58556-35374c */

:root {
	--color-bg: #524F63;
	--color-theme-1: #adbfe3;
	--color-text: rgba(0, 0, 0, 0.75);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}

p {
	font-weight: 400;
	line-height: 1.5;
}

h1 {
	font-weight: 700;
	line-height: 1.1;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}
